{{> navbar }}     
<link rel="stylesheet" href="/style.css">
<section class='container' style='padding:20px'>
  <div class="row justify-space-between-md" >
    <div class="post" >
      <h2 class="page-title" >Are you sure you want to delete post?</h2>
        <ul  style="list-style:none" >
            <li style="display:inline" id={{id}}><button class="btn btn-primary" type="submit" id="deleteBtn">Yes</button></li>
            <li style="display:inline"><button class="btn btn-primary" type="submit"><a href="/api/dashboard">No</a></button></li>

        </div>
    </div>
 <script src="/delete.js"></script>
   